* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #1d2126;
    position: sticky;
    top: 0;
    padding: 25px 0;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.menu {
    display: flex;
}

.menu > li {
    margin: 0 5px;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #a4aead;
    height: 30px;
    line-height: 27px;
    padding: 0 10px;
    border: 2px solid transparent;
}

.menu > li > a:hover {
    border: 2px solid #5b6168;
    border-radius: 4px;
}

.menu >li.active > a {
    border: 2px solid #23b7a4;
    border-radius: 4px;
    color: #23b7a4
}

.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 190px;
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 4px;
    padding: 0 20px 0 3px;
}

.search {
    width: 80%;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: #a4aead;
    border: none;
}

.search::placeholder {
    color: #a4aead;
    font-size: 14px;
}

.search-button {
    background: url(img/search-icon.png) no-repeat center;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.slider {
    background: url(img/slider1.png) no-repeat center;
    width: auto;
    height: 660px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    display: block;
    color: white;
    font-weight: bold;
}

.slider p {
    margin: 30px 0;
    font-size: 16px;
    color: #ccd0d7;
}

.btn {
    font-family: 'Quattrocento Sans', sans-serif;
    width: 124px;
    height: 44px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* MOBILE ONLY */
@media (max-width: 767px) {
    .hide-xs {
        display: none;
    }

    .nav {
        overflow-x: scroll;
    }
}