* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.header {
    background-color: #1d2126;
    position: sticky;
    top: 0;
    padding: 25px 0;
    z-index: 10000;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.menu {
    display: flex;
}

.menu > li {
    margin: 0 5px;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #a4aead;
    height: 30px;
    line-height: 27px;
    padding: 0 10px;
    border: 2px solid transparent;
}

.menu > li > a:hover {
    border: 2px solid #5b6168;
    border-radius: 4px;
}

.menu > li.active > a {
    border: 2px solid #23b7a4;
    border-radius: 4px;
    color: #23b7a4
}

.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 190px;
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 4px;
    padding: 0 20px 0 3px;
}

.search {
    width: 80%;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: #a4aead;
    border: none;
}

.search::placeholder {
    color: #a4aead;
    font-size: 14px;
}

.search-button {
    background: url(img/search-icon.png) no-repeat center;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

.slider {
    background: url(img/slider1.png) no-repeat center;
    width: auto;
    height: 660px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    display: block;
    color: white;
    font-weight: bold;
}

.slider p {
    margin: 30px 0;
    font-size: 16px;
    color: #ccd0d7;
}

.btn {
    font-family: 'Quattrocento Sans', sans-serif;
    width: 124px;
    height: 44px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
}

.btn:hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}

/*MAIN*/
/*ABOUT*/

.page {
    padding: 70px 0 90px;
}

#about {
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
}

.page-title {
    padding: 10px 0 55px;
}

.page-title h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    border-left: 10px solid #e1e6ea;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    padding-left: 15px;
}

.content {
    padding: 10px 0;
}

.content > p {
    line-height: 25px;
    color: #8d8f92;
    padding-bottom: 40px;
    font-size: 16px;
}

.project-social {
    display: flex;
}

.project-social > li {
    width: 60px;
    height: 60px;
    margin-right: 2px;
}

.project-social > li > a {
    text-align: center;
    line-height: 70px;
    display: block;
    background-color: #c8cdd0;
    height: 60px;
    width: 60px;
    color: white;
}

.project-social > li > a:hover {
    background-color: #d0d5d9;
}

.goal {
    display: flex;
}

.goal-num {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    text-align: center;
    line-height: 50px;
    flex: 0 0 50px;
}

.goal-desc h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #292f36;
    margin-bottom: 15px;
}

.goal-desc p {
    line-height: 25px;
    color: #8d8f92;
    padding-bottom: 30px;
    font-size: 16px;
}

/*TEAM*/

.team-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-pic img{
    width: 100%;
    height: 100%;
}

.team-worker {
    cursor: pointer;
    padding: 15px 0;
}

.team-desc {
    width: 100%;
    padding: 15px;
    background-color: #e1e6ea;
}

.team-desc h3 {
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    color: #5a6066;
    padding-bottom: 5px;
}

.team-desc p {
    color: #a3a6a9;
}

.team-social {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s;
}

.team-social > li {
    width: 50px;
    height: 50px;
    margin-right: 2px;
}

.team-social > li > a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 60px;
    background-color: #3a454d;
    color: white;
}

.team-social > li > a:hover {
    background-color: #4e5a62;
}

.team-worker:hover .team-desc {
    background-color: #3a454d;
}

.team-worker:hover .team-desc h3, .team-worker:hover .team-desc p {
    color: white;
}

.team-worker:hover .team-social {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.3s;
}

@media(min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* TABLET */
@media (max-width: 991px) {
    .center-xs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hide-xs {
        display: none;
    }
}

/* MOBILE ONLY */
@media (max-width: 767px) {
    .nav {
        overflow-x: scroll;
    }

    .project-social > li {
        width: 50px;
        height: 50px;
    }

    .project-social > li > a {
        height: 50px;
        width: 50px;
        line-height: 65px;
    }
}