* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-weight: 700;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/*HEADER*/

.header {
    background-color: #1d2126;
    position: sticky;
    top: 0;
    padding: 25px 0;
    z-index: 10000;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

[class*="col-"] {
    padding: 0 15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.menu {
    display: flex;
}

.menu > li {
    margin: 0 5px;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #a4aead;
    height: 30px;
    line-height: 27px;
    padding: 0 10px;
    border: 2px solid transparent;
}

.menu > li > a:hover {
    border: 2px solid #5b6168;
    border-radius: 4px;
}

.menu > li.active > a {
    border: 2px solid #23b7a4;
    border-radius: 4px;
    color: #23b7a4
}

.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 190px;
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 4px;
    padding: 0 20px 0 3px;
}

.search {
    width: 80%;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: #a4aead;
    border: none;
}

.search::placeholder {
    color: #a4aead;
    font-size: 14px;
}

.search-button {
    background: url(img/search-icon.png) no-repeat center;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}

/*SLIDER*/

.slider {
    background: url(img/slider1.png) no-repeat center;
    width: auto;
    height: 660px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    display: block;
    color: white;
    font-weight: bold;
}

.slider p {
    margin: 30px 0;
    font-size: 16px;
    color: #ccd0d7;
}

.btn {
    font-family: 'Quattrocento Sans', sans-serif;
    width: 124px;
    height: 44px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
    color: white;
}

.green {
    border: 2px solid #23b7a4;
    color: #23b7a4;
}

.green-filled {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}
/*MAIN*/
/*ABOUT*/

.page {
    padding: 70px 0 75px;
}

.dark-bg {
    background-color: #3a454d;
}

.dark-bg .page-title h2 {
    color: white;
    border-left: 10px solid #4e5a62;
}

#about {
    background-color: #fff;
    border-bottom: 1px solid #d6d6d6;
}

.page-title {
    padding: 10px 0 55px;
}

.page-title h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    border-left: 10px solid #e1e6ea;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    padding-left: 15px;
}

.content {
    padding: 10px 0;
}

.content > p {
    line-height: 25px;
    color: #8d8f92;
    padding-bottom: 40px;
    font-size: 16px;
}

.project-social {
    display: flex;
}

.project-social > li {
    width: 60px;
    height: 60px;
    margin-right: 2px;
}

.project-social > li > a {
    text-align: center;
    line-height: 70px;
    display: block;
    background-color: #c8cdd0;
    height: 60px;
    width: 60px;
    color: white;
}

.project-social > li > a:hover {
    background-color: #d0d5d9;
}

.goal {
    display: flex;
}

.goal-num {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    font-size: 20px;
    color: white;
    margin-right: 20px;
    text-align: center;
    line-height: 50px;
    flex: 0 0 50px;
}

.goal-desc h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #292f36;
    margin-bottom: 15px;
}

.goal-desc p,
.service-desc p,
.feature-desc p,
.contact-info p {
    line-height: 25px;
    color: #8d8f92;
    padding-bottom: 30px;
    font-size: 16px;
}

/*TEAM*/

.team-pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-pic .fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3a454d;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.team-worker:hover .fill {
    visibility: visible;
    opacity: 33%;
}

.team-pic img,
.work-pic img,
.feature-pic img {
    width: 100%;
    height: 100%;
}

.team-worker {
    cursor: pointer;
    padding: 15px 0;
}

.team-desc {
    width: 100%;
    padding: 15px;
    background-color: #e1e6ea;
    transition: all 0.3s ease-in-out;
}

.team-desc h3 {
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    color: #5a6066;
    padding-bottom: 5px;
}

.team-desc p {
    color: #a3a6a9;
}

.team-social {
    position: absolute;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
}

.team-social > li {
    width: 50px;
    height: 50px;
    margin-right: 2px;
}

.team-social > li > a {
    display: block;
    text-align: center;
    height: 50px;
    line-height: 60px;
    background-color: #3a454d;
    color: white;
}

.team-social > li > a:hover {
    background-color: #4e5a62;
}

.team-worker:hover .team-desc {
    background-color: #3a454d;
    transition: 0.3s;
}

.team-worker:hover .team-desc h3, .team-worker:hover .team-desc p {
    color: white;
}

.team-worker:hover .team-social {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.3s;
}

/*WORK*/

.galery {
    position: relative;
    cursor: pointer;
    padding: 15px 0;
}

.work-pic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-desc {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 60px;
    background-color: #292f36;
    display: flex;
    align-items: center;
    padding-left: 20px;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0 bottom;
    transform: scaleY(0);
    transition: 0.3s ease-in-out;
}

.work-desc h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.icon {
    position: absolute;
    display: flex;
    color: white;
    visibility: hidden;
    opacity: 0;
}

.work-pic .fill {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #292f36;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.galery:hover .fill {
    visibility: visible;
    opacity: 50%;
}

.galery:hover .work-desc,
.galery:hover .icon {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    transition: 0.3s ease-in-out;
}

.show-more {
    position: relative;
    margin-top: 40px;
    width: 150px;
    height: 44px;
    border: 2px solid white;
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.show-more:hover {
    background-color: #23b7a4;
    border: 2px solid #23b7a4;
}

/*SERVICES*/

.service {
    text-align: center;
    padding: 15px 0;
}

.service-desc p {
    padding-bottom: 30px;
}

.service-pic h3 {
    font-size: 17px;
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px 0;
}

/*FEATURES*/

.feature-pic {
    padding-bottom: 25px;
}

.feature-desc h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 25px 0;
}

.feature-desc p {
    color: white;
}

/*CONTACT*/

.contact-title {
    padding: 60px 0 40px 15px;
}

.contact-title h3 {
    font-family: 'Quattrocento Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    margin-top: -130px;
    position: relative;
    z-index: 50;
    display: none;
}

.contact-form form .form-group {
    display: inline-block;
    width: 49.5%;
}

.contact-form form .form-group:nth-child(1) {
    padding-right: 7.5px;
}

.contact-form form .form-group:nth-child(2) {
    padding-left: 7.5px;
}

.contact-form form input, .contact-form form textarea {
    width: 100%;
    margin-bottom: 30px;
    resize: none;
    outline: none;
    border: none;
    background-color: #eaeef1;
    border-radius: 5px;
    color: #4d4d4d;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 5px;
}

.contact-form form input {
    height: 45px;
}

.contact-form label {
    margin-left: 5px;
    display: block;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #8d8f92;
}

.contact-form form .btn {
    margin-top: 0;
}

.contact-btn {
    margin: 0;
}

.btn-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form .btn-close {
    position: absolute;
    right: 30px;
    top: 10px;
    color: #eaeef1;
}

.contact-form .btn-close:hover {
    color: #4d4d4d;
}
/*FOOTER*/

.footer {
    background-color: #3a454d;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: white;
    font-size: 14px;
}

.copyright p {
    text-align: center;
}

.social {
    display: flex;
}

.social > li {
    height: 30px;
    width: max-content;
    margin-left: 20px;
}

.social > li > a {
    display: block;
    color: white;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.social > li > a:hover {
    color: #d0d5d9;
}

/**/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
    display: none;
}

.modal-block {
    width: 300px;
    margin: 100px auto;
    height: max-content;
    border-radius: 10px;
    background-color: #3a454d;
    padding: 15px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.btn-close {
    text-align: right;
    cursor: pointer;
    width: max-content;
    margin: 0 0 0 auto;
    color: white;
    transition: all 0.2s ease-in-out;
}

.btn-close:hover {
    color: rgb(66, 148, 255);;
}

.modal h3 {
    color: white;
}

.modal button {
    height: 30px;
    text-transform: uppercase;
    background-color: rgb(66, 148, 255);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    font-weight: bold;
}

.modal button:hover {
    background-color: #fff;
    color: rgb(66, 148, 255);;
}

.form-fields {
    margin: 10px 0;
}

.form-fields input {
    width: 100%;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #4d4d4d;
    font-weight: bold;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.show-flex {
    display: flex;
}

/*===========================================*/
/* TABLET ONLY */
@media(min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }  

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    } 

    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    } 

    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    } 

    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .menu {
        margin-top: 10px;
    }

    .center-xs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hide-xs {
        display: none;
    }

    .contact-form {
        margin-top: 0;
    }
}

@media(min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .contact-form form .form-group {
        width: 49.4%;
    }
}

@media(min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* MOBILE ONLY */
@media (max-width: 767px) {
    .container {
        max-width: 450px;
    }

    .page {
        padding: 35px 0 40px;
    }

    .page-title {
        padding: 0 0 20px;
    }

    .page-title h2 {
        font-size: 28px;
    }
    
    .menu {
        display: block;
    }

    .menu li {
        text-align: center;
    }

    .project-social > li {
        width: 50px;
        height: 50px;
    }

    .project-social > li > a {
        height: 50px;
        width: 50px;
        line-height: 65px;
    }

    .center-xs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hide-xs {
        display: none;
    }

    .slider {
        height: 500px;
    }

    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;
    }

    .nav-mobile-menu span {
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.25s ease-in-out;
    }

    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }

    .nav-mobile-menu span:nth-child(3) {
        bottom: 3px;
    }

    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }

    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 280px;
        max-width: 280px;
        transition: all 2500ms ease-in-out;
        transform: translateX(150%);
    }

    .header-row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform:  rotate(45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        top: 60px;
        background-color: #1d2126;
        display: block;
        text-align: center;
    }

    .contact-form {
        margin-top: 0;
    }

    .contact-form form .form-group {
        display: block;
        width: 100%;
    }
    
    .contact-form form .form-group:nth-child(1) {
        padding-right: 0;
    }
    
    .contact-form form .form-group:nth-child(2) {
        padding-left: 0;
    }
}
/*======================================================*/
